<?xml version="1.0" encoding="utf-8"?>
<hammerdb>
    <rdbms>Oracle</rdbms>
    <bm>TPC-C</bm>
<oracle>
    <service>
        <system_user>system</system_user>
        <system_password>manager</system_password>
        <instance>oracle</instance>
    </service>
    <tpcc>
        <schema>
            <count_ware>1</count_ware>
	    <num_threads>1</num_threads>
            <tpcc_user>tpcc</tpcc_user>
            <tpcc_pass>tpcc</tpcc_pass>
            <tpcc_def_tab>tpcctab</tpcc_def_tab>
            <tpcc_ol_tab>tpcctab</tpcc_ol_tab>
            <tpcc_def_temp>temp</tpcc_def_temp>
            <plsql>0</plsql>
            <directory>
            </directory>
	    <partition>false</partition>
	    <tpcc_tt_compat>false</tpcc_tt_compat>
        </schema>
        <driver>
            <total_iterations>1000000</total_iterations>
            <raiseerror>false</raiseerror>
            <keyandthink>false</keyandthink>
	    <checkpoint>false</checkpoint>
            <oradriver>standard</oradriver>
            <rampup>2</rampup>
            <duration>5</duration>
        </driver>
    </tpcc>
    <tpch>
        <schema>
            <scale_fact>1</scale_fact>
            <tpch_user>tpch</tpch_user>
            <tpch_pass>tpch</tpch_pass>
            <tpch_def_tab>tpchtab</tpch_def_tab>
            <tpch_def_temp>temp</tpch_def_temp>
            <num_tpch_threads>1</num_tpch_threads>
	    <tpch_tt_compat>false</tpch_tt_compat>
        </schema>
        <driver>
            <total_querysets>1</total_querysets>
            <raise_query_error>false</raise_query_error>
            <verbose>false</verbose>
            <degree_of_parallel>2</degree_of_parallel>
	    <refresh_on>false</refresh_on>
	    <update_sets>1</update_sets> 
	    <trickle_refresh>1000</trickle_refresh> 
	    <refresh_verbose>false</refresh_verbose> 
        </driver>
    </tpch>
    <transaction_counter>
        <connect_string>system/manager@oracle</connect_string>
        <refresh_rate>10</refresh_rate>
        <rac>0</rac>
        <autorange>0</autorange>
    </transaction_counter>
</oracle>
<mssqlserver>
    <connection>
        <mssqls_server>(local)</mssqls_server>
        <mssqls_port>1433</mssqls_port>
        <mssqls_authentication>windows</mssqls_authentication>
	<mssqls_odbc_driver>SQL Server Native Client 11.0</mssqls_odbc_driver>
        <mssqls_uid>sa</mssqls_uid>
        <mssqls_pass>admin</mssqls_pass>
    </connection>
    <tpcc>
        <schema>
            <mssqls_count_ware>1</mssqls_count_ware>
            <mssqls_schema>original</mssqls_schema>
            <mssqls_num_threads>1</mssqls_num_threads>
            <mssqls_dbase>tpcc</mssqls_dbase>
        </schema>
        <driver>
            <mssqls_total_iterations>1000000</mssqls_total_iterations>
            <mssqls_raiseerror>false</mssqls_raiseerror>
            <mssqls_keyandthink>false</mssqls_keyandthink>
	    <mssqls_checkpoint>false</mssqls_checkpoint>
            <mssqlsdriver>standard</mssqlsdriver>
	    <mssqls_rampup>2</mssqls_rampup>
            <mssqls_duration>5</mssqls_duration>
        </driver>
    </tpcc>
    <tpch>
        <schema>
	    <mssqls_scale_fact>1</mssqls_scale_fact>
	    <mssqls_maxdop>2</mssqls_maxdop>
	    <mssqls_tpch_dbase>tpch</mssqls_tpch_dbase>
	    <mssqls_num_tpch_threads>1</mssqls_num_tpch_threads> 
        </schema>
        <driver>
	    <mssqls_total_querysets>1</mssqls_total_querysets>
	    <mssqls_raise_query_error>false</mssqls_raise_query_error> 
	    <mssqls_verbose>false</mssqls_verbose> 
	    <mssqls_refresh_on>false</mssqls_refresh_on>  
	    <mssqls_update_sets>1</mssqls_update_sets> 
	    <mssqls_trickle_refresh>1000</mssqls_trickle_refresh> 
	    <mssqls_refresh_verbose>false</mssqls_refresh_verbose>
        </driver>
    </tpch>
</mssqlserver>
<mysql>
    <connection>
        <mysql_host>127.0.0.1</mysql_host>
        <mysql_port>3306</mysql_port>
    </connection>
	<tpcc>
        <schema>
            <my_count_ware>1</my_count_ware>
            <mysql_num_threads>1</mysql_num_threads>
            <mysql_user>root</mysql_user>
            <mysql_pass>mysql</mysql_pass>
            <mysql_dbase>tpcc</mysql_dbase>
            <storage_engine>innodb</storage_engine>
	    <mysql_partition>false</mysql_partition>
        </schema>
        <driver>
            <my_total_iterations>1000000</my_total_iterations>
            <my_raiseerror>false</my_raiseerror>
            <my_keyandthink>false</my_keyandthink>
            <mysqldriver>standard</mysqldriver>
	    <my_rampup>2</my_rampup>
            <my_duration>5</my_duration>
        </driver>
    </tpcc>
    <tpch>
        <schema>
            <mysql_scale_fact>1</mysql_scale_fact>
            <mysql_tpch_user>root</mysql_tpch_user>
            <mysql_tpch_pass>mysql</mysql_tpch_pass>
            <mysql_tpch_dbase>tpch</mysql_tpch_dbase>
            <mysql_num_tpch_threads>1</mysql_num_tpch_threads>
  	    <mysql_tpch_storage_engine>myisam</mysql_tpch_storage_engine>
        </schema>
        <driver>
            <mysql_total_querysets>1</mysql_total_querysets>
            <mysql_raise_query_error>false</mysql_raise_query_error>
            <mysql_verbose>false</mysql_verbose>
            <mysql_refresh_on>false</mysql_refresh_on>
            <mysql_update_sets>1</mysql_update_sets>
            <mysql_trickle_refresh>1000</mysql_trickle_refresh>
            <mysql_refresh_verbose>false</mysql_refresh_verbose>
        </driver>
    </tpch>
</mysql>
<postgresql>
    <connection>
        <pg_host>localhost</pg_host>
        <pg_port>5432</pg_port>
    </connection>
	<tpcc>
        <schema>
            <pg_count_ware>1</pg_count_ware>
            <pg_num_threads>1</pg_num_threads>
            <pg_superuser>postgres</pg_superuser>
            <pg_superuserpass>postgres</pg_superuserpass>
            <pg_defaultdbase>postgres</pg_defaultdbase>
            <pg_user>tpcc</pg_user>
            <pg_pass>tpcc</pg_pass>
            <pg_dbase>tpcc</pg_dbase>
            <pg_vacuum>false</pg_vacuum>
            <pg_dritasnap>false</pg_dritasnap>
            <pg_oracompat>false</pg_oracompat>
        </schema>
        <driver>
            <pg_total_iterations>1000000</pg_total_iterations>
            <pg_raiseerror>false</pg_raiseerror>
            <pg_keyandthink>false</pg_keyandthink>
            <pg_driver>standard</pg_driver>
	    <pg_rampup>2</pg_rampup>
            <pg_duration>5</pg_duration>
        </driver>
    </tpcc>
    <tpch>
     <schema>
            <pg_scale_fact>1</pg_scale_fact>
            <pg_tpch_superuser>postgres</pg_tpch_superuser>
            <pg_tpch_superuserpass>postgres</pg_tpch_superuserpass>
            <pg_tpch_defaultdbase>postgres</pg_tpch_defaultdbase>
            <pg_tpch_user>tpch</pg_tpch_user>
            <pg_tpch_pass>tpch</pg_tpch_pass>
            <pg_tpch_dbase>tpch</pg_tpch_dbase>
	    <pg_tpch_gpcompat>false</pg_tpch_gpcompat>
	    <pg_tpch_gpcompress>false</pg_tpch_gpcompress>
            <pg_num_tpch_threads>1</pg_num_tpch_threads>
        </schema>
        <driver>
            <pg_total_querysets>1</pg_total_querysets>
            <pg_raise_query_error>false</pg_raise_query_error>
            <pg_verbose>false</pg_verbose>
            <pg_refresh_on>false</pg_refresh_on>
            <pg_update_sets>1</pg_update_sets>
            <pg_trickle_refresh>1000</pg_trickle_refresh>
            <pg_refresh_verbose>false</pg_refresh_verbose>
        </driver>
    </tpch>
</postgresql>
<redis>
    <connection>
        <redis_host>127.0.0.1</redis_host>
        <redis_port>6379</redis_port>
        <redis_namespace>1</redis_namespace>
    </connection>
	<tpcc>
        <schema>
            <redis_count_ware>1</redis_count_ware>
            <redis_num_threads>1</redis_num_threads>
        </schema>
        <driver>
            <redis_total_iterations>1000000</redis_total_iterations>
            <redis_raiseerror>false</redis_raiseerror>
            <redis_keyandthink>false</redis_keyandthink>
            <redis_driver>standard</redis_driver>
	    <redis_rampup>2</redis_rampup>
            <redis_duration>5</redis_duration>
        </driver>
    </tpcc>
</redis>
  <virtual_user_options>
        <virtual_users>1</virtual_users>
        <user_delay>500</user_delay>
        <repeat_delay>500</repeat_delay>
        <iterations>1</iterations>
        <show_output>0</show_output>
        <log_to_temp>0</log_to_temp>
	<unique_log_name>0</unique_log_name>
	<no_log_buffer>0</no_log_buffer>
    </virtual_user_options>
    <mode>
	<autopilot_options>
	    <apmode>disabled</apmode>
	    <autopilot_duration>10</autopilot_duration>
	    <autopilot_sequence>2 3 5 9 13 17 21 25</autopilot_sequence>
	</autopilot_options>
        <slave_options>
            <hostname>localhost</hostname>
            <id>0</id>
        </slave_options>
    </mode>
</hammerdb>
